/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

.breadcrumb-link {
  color: #252b42;
}

.breadcrumb-separator,
.breadcrumb-current {
  color: #bdbdbd;
}
